<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.allza.deverdad">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoandroid"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="co.allza.deverdad.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.allza.deverdad.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="co.allza.deverdad.activities.LoginCodigoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

           ></activity>
        <activity
            android:name="co.allza.deverdad.activities.CallToActionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:parentActivityName="co.allza.deverdad.activities.SegurosActivity">

        </activity>
        <activity
            android:name="co.allza.deverdad.activities.SegurosActivity"
            android:label="Estas Seguro"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
          >



        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="co.allza.deverdad.services.SegurosService"></service>
        <service
            android:name="co.allza.deverdad.services.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="co.allza.deverdad.services.PushNotificationServiceInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="co.allza.deverdad.BootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>